body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #2604e7;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #f7eded;
    text-align: center;
}

.section {
    margin-bottom: 30px;
}

h2 {
    color: #f4eeee;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;

    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
      
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
